{% extends 'template.html' %}
{% block content %}
<div id="panel">
	<div id="Main_panel">
		<div class="Titulo">
			<h2>Devolver tarea</h2>
		</div>
		<div id="devolver-tarea" align="center">
			<form id="devolver-tarea-form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<table>
					{% for field in form %}<tr>
						<th>{{ field.label_tag }}</th>
						<td>{{ field }}</td>
						<td>{{ field.errors }}</td>
					</tr>{% endfor %}
				</table>
				<input type="submit" value="Enviar">
			</form>
		</div>
		<a href="{% url 'panel' %}">Volver</a>
	</div>
</div>
{% endblock %}