{% extends 'template.html' %}
{% load static %}
{% block imports %}

{% endblock %}
{% block content %}
<div id="panel">
	<div id="Main_panel">
		<div class="Titulo">
			<h2>Asignación de Tareas</h2>
		</div>
		<div id="crear-tarea" align="center">
			<table cellspacing="0" cellpadding="0">
				<tr class="head">
					<th>Nombre</th>
					<th>Fecha inicio</th>
					<th>Fecha plazo</th>
					<th>Estado</th>
					<th>Responsables</th>
					<th>Acciones</th>
				</tr>
				{% for t in tareas %}
				<tr class="body">
					<td>{{ t.nombre }}</td>
					<td>{{ t.fecha_inicio|default_if_none:"Aún no ejecutada" }}</td>
					<td>{{ t.fecha_plazo }}</td>
					<td>{{ t.estado }}</td>
					<td>{% for r in t.responsables.all %}{{ r }}<br>{% empty %}No hay responsable asignado{% endfor %}</td>
					<td><a href="{% url 'lista-responsable' t.id_tarea %}">Asignar responsable</a></td>
				</tr>
				{% empty %}
				<tr>
					<td colspan="5">No hay tareas por asignar</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<a href="{% url 'panel' %}">Volver</a>
	</div>
</div>
{% endblock %}
