{% extends 'template.html' %}
{% load static %}
{% block imports %}

{% endblock %}
{% block content %}
<div id="panel">
	<div id="Main_panel">
		<div class="Titulo">
			<h2>Mis Tareas</h2>
		</div>
		<div id="crear-tarea" align="center">
			<table>
				<tr class="head">
					<th>Descripción tarea</th>
					<th>Fecha inicio</th>
					<th>Fecha plazo</th>
					<th>Días restantes</th>
					<th>Estado</th>
					<th>Semáforo</th>
					<th>Acciones</th>
				</tr>
				{% for item in tareas.values %}
				{% with tarea=item.tarea %}
				<tr class="body">
					<td>{{ tarea.descripcion }}</td>
					<td>{{ tarea.fecha_inicio }}</td>
					<td>{{ tarea.fecha_plazo }}</td>
					<td>{{ item.dias }}</td>
					<td>{{ tarea.estado }}</td>
					<td><div class="semaforo">
						{% if item.semaforo == 1 %}
						<img class="rojo" src="{% static 'images/rojo.png' %}" style="display: block">
						{% elif item.semaforo == 2 %}
						<img class="amarillo" src="{% static 'images/amarillo.png' %}" style="display: block">
						{% elif item.semaforo == 3 %}
						<img class="verde" src="{% static 'images/verde.png' %}" style="display: block">
						{% endif %}
					</div></td>
					<td><a href="#">Reportar problema</a></td>
				</tr>
				{% endwith %}
				{% empty %}
				<tr>
					<td colspan="5">No hay tareas por asignar</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<a href="{% url 'panel' %}">Volver</a>
	</div>
</div>
{% endblock %}
