{% extends 'template.html' %}
{% load static %}
{% block imports %}

{% endblock %}
{% block content %}
<div id="panel">
	<div id="Main_panel">
		<div class="Titulo">
			<h2>Mis Tareas</h2>
		</div>
		<div id="crear-tarea" align="center">
			<table cellspacing="0" cellpadding="0">
				<tr class="head">
					<th>Nombre tarea</th>
					<th>Función asociada</th>
					<th>Fecha inicio</th>
					<th>Fecha plazo</th>
					<th>Días restantes</th>
					<th>Estado</th>
					<th>Semáforo</th>
					<th>Acciones</th>
				</tr>
				{% for item in tareas.values %}
				{% with tarea=item.tarea %}
				<tr class="body">
					<td>{{ tarea.nombre }}</td>
					<td>{{ tarea.funcion }}</td>
					<td>{{ tarea.fecha_inicio|default_if_none:"Aún no ejecutada" }}</td>
					<td>{{ tarea.fecha_plazo }}</td>
					<td>{{ item.dias }}</td>
					<td>{{ tarea.estado }}</td>
					<td><div class="semaforo">
						{% if item.semaforo == 1 %}
						<img class="rojo" src="{% static 'images/rojo.png' %}" style="display: block">
						{% elif item.semaforo == 2 %}
						<img class="amarillo" src="{% static 'images/amarillo.png' %}" style="display: block">
						{% elif item.semaforo == 3 %}
						<img class="verde" src="{% static 'images/verde.png' %}" style="display: block">
						{% endif %}
					</div></td>
					<td>
						{% if tarea.estado.pk == 1 or tarea.estado.pk == 2 %}
						<a class="table-button" href="{% url 'ejecutar-tarea' tarea.pk %}">Ejecutar</a>
						<a class="table-button" href="{% url 'devolver-tarea' tarea.pk %}">Devolver</a>
						{% elif tarea.estado.pk != 6 %}
						<a class="table-button" href="{% url 'terminar-tarea' tarea.pk %}">Terminar</a>
						<a class="table-button" href="{% url 'reportar-problema' tarea.pk %}">Reportar problema</a>
						{% endif %}
					</td>
				</tr>
				{% endwith %}
				{% empty %}
				<tr>
					<td colspan="5">No hay tareas por asignar</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<a href="{% url 'panel' %}">Volver</a>
	</div>
</div>
{% endblock %}
