{% extends 'template.html' %}
{% load static %}
{% block imports %}

{% endblock %}

{% block content %}
<div id="panel">
	<div id="Main_panel">
		<div class="Titulo">
			<h2>Bienvenido al panel de usuario</h2>
			<h3>{{ funcionario.nombres }} {{ funcionario.ap_paterno }} {{ funcionario.ap_materno }} - Funcionario</h3>
		</div>
		<div class="contenedor">
			<div class="izquierda">
				<nav id="menu-panel">
					<a href="{% url 'mis-tareas' %}">Mis tareas</a>
					<a href="{% url 'crear-tarea' %}">Crear Tarea</a>
					<a href="{% url 'lista-tareas' %}">Listado de tareas</a>
					<a href="{% url 'menu-asignar-tarea' %}">Asignar Tarea</a>
				</nav>
			</div>
			<div class="derecha">
				<img src="/static/images/default-profile.png" alt="" width="150px" height="150px">
				<h3>Email: {{ funcionario.email }}</h3>
				<h3>Teléfono móvil: {{ funcionario.telefono_movil }}</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
