{% extends 'template.html' %}
{% block imports %}

{% endblock %}

{% block content %}
	<div class="exterior" >
		<div class="interior">
			<h2>Process S.A.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra mollis ligula, in varius enim. Sed luctus mattis velit, id hendrerit magna dictum ut. Nullam id luctus nisi. Mauris tincidunt egestas eleifend. Cras erat lectus, tempor ac nisl in, rutrum semper augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur molestie eget turpis eu mattis. Suspendisse nec nibh est. Nullam sapien felis, convallis ac nisi eu, ultricies cursus lorem.

				Ut et leo a nisl bibendum faucibus. Mauris at fringilla libero. Nullam pulvinar porttitor dapibus. Integer blandit commodo gravida. Sed lacinia enim id odio sodales, vitae facilisis est condimentum. Nunc dignissim semper mauris. Quisque ultrices aliquam tellus, ut rhoncus dui ullamcorper ut. Morbi id dolor a turpis pretium sodales ut quis augue. Donec tempus non diam id cursus. Proin rhoncus aliquet ligula, eget malesuada enim commodo id. Donec vestibulum metus eu magna interdum dignissim. Vivamus ex neque, gravida quis lacus pellentesque, ultrices ullamcorper diam. Aenean varius mollis tellus, at convallis enim suscipit in. Aliquam porttitor risus ut sodales ultrices.
				
				Proin sollicitudin accumsan diam, eget mollis tellus dapibus at. Fusce in porttitor elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin dapibus varius dignissim. Quisque dignissim risus sit amet rhoncus hendrerit. Cras auctor mi diam, vel efficitur dolor bibendum id. Sed dictum ligula metus, eget feugiat quam malesuada eget. Mauris tincidunt nunc orci, et volutpat risus sollicitudin et. Fusce eleifend vel sapien ac posuere. Vivamus erat mauris, dapibus at orci vel, sollicitudin sodales elit.
				
				Suspendisse vel magna nunc. Maecenas vehicula, ante vel tempor malesuada, ante orci efficitur ante, at scelerisque purus lectus non lorem. Etiam laoreet ligula et malesuada eleifend. In congue tincidunt nunc vel porta. Mauris volutpat massa sed lorem mattis, vitae efficitur justo tincidunt. Etiam facilisis ante vitae magna porttitor, non vehicula odio scelerisque. Duis accumsan suscipit urna in molestie. Nunc sed fringilla risus.</p>
	
		</div>
	</div>

	{% if user.is_authenticated %}
	{% if user.is_staff %}
	<p>Vista para rol administrador</p>
	{% else %}
	<p>Vista para rol funcionario</p>
	{% endif %}
	{% endif%}
{% endblock %}
