{% extends 'template.html' %}
{% load static %}
{% block imports %}

{% endblock %}

{% block content %}
			<h2>Iniciar sesión</h2>
			<form id="login-form" method="POST">
				{% csrf_token %}
				{% if fail %}<p>Las credenciales que ingresó no son válidas.</p>{% endif %}
				<table>
					{% for field in form %}<tr>
						<th>{{ field.label_tag }}</th>
						<td>{{ field }}</td>
						<td>{{ field.errors }}</td>
					</tr>{% endfor %}
				</table>
				<input type="submit" value="Entrar">
			</form>
{% endblock %}
