body{
    font-family: 'Arvo', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
/*header*/
header{
    display: flex;
    flex-direction: column;
}
.banner{
    background: url("/static/images/banner.jpg");
    text-align: center;
    color:white;
    width: 100%;
}
.banner h1{
    padding: 4%;
}
#menu-header{
    background: #407A78;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
}
#menu-header a{
    color:white;
    margin-right: 10px;
    text-decoration: none;
}
#menu-header a:hover{
    border-bottom: 1px solid white;
}
/*fin header*/
/*footer*/
footer{
    background: #254B52;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
footer h3{
    color:white;
    font-weight: 500;
}
/*fin footer*/
/*main*/
#main{
    text-align: center;
}
#main #login-form{
    display: inline-block;
}
#main #login-form table input{
    margin-top: 15px;
    margin-bottom: 5px;
}
#main #login-form input{
    margin:30px;
    font-family: 'Arvo', serif;
}
.exterior{
    display: flex;
    background:url("/static/images/home1.jpg")no-repeat;
    background-size: cover;
}
.interior{
    padding:100px;
}
/*PANEL*/
#panel #main{
    margin:0 !important;
}
#Main_panel{
    padding-bottom: 15%;
}
.Titulo{
    display: flex;
    flex-direction: column;
    background-color: #F0EBE8;
}
.contenedor{
    display: flex;
}
.contenedor .izquierda,.contenedor .derecha{
    width: 50%;
    margin-top: 35px;
}

/*izquierda*/
#menu-panel{
    display: grid;
    text-align: center;
}
#menu-panel a{
    background:  #254B52;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color:white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
#menu-panel a:hover{
    background: #7B7670;
}
/*derecha*/
.contenedor .derecha img{
    border-radius: 100px;
    border: 1px solid grey;
}
.contenedor .derecha a{
    background:  #254B52;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color:white;
    padding:10px;
}
.contenedor .derecha a:hover{
    background: #7B7670;
}
/*MIS TAREAS*/
.verde,.amarillo,.rojo{
    display: none;
    width: 50px;
}
.head{
    background-color: #393939;
}
.head th{
    color:#00ad5f;
    padding:15px;
    text-transform: uppercase;
}
.body{
    background-color: #222;
    text-align: center;
    padding: 5px;
    color:gray;
    text-transform: capitalize;
}
.body td{
    padding: 15px;
}
.body td:hover{
    background-color: #3D3D3D;
    transition: 0.8s;
}
.body a{
    color:gray;
}
table{
    border-radius: 1em;
}